/* Estilos del HEADER */
nav{
    background-color: #8D0E56;
}
header{
    padding: 0 21px;
    background-color: #8D0E56;
}

/* Estilos del FOOTER */
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #8D0E56;
    padding: 21px;
}

.footer .footer-mid a{
    color: aliceblue;
    text-decoration: none;
}
.footer .footer-mid ul{
    padding: 0;
    list-style: none;
}

.social-logos{
    height: 33px;
    padding-right: 12px;
}

/* Estilos del MAIN */
main{
    padding: 15px;
}